---
import Layout from '../layouts/Layout.astro';
import SeachForm from '../components/SearchForm.jsx';
---

<Layout title="Welcome to the Low Hanging Fruit.">
	<main>
		<h1>Welcome to the Low Hanging Fruit!</h1>
		<SeachForm />
	</main>
</Layout>